@font-face {
    font-family: 'Lexend Exa';
    font-style: normal;
    font-weight: 400;
    src: local('Lexend Exa Regular'), local('LexendExa-Regular'), url('./fonts/Lexend Exa/UMBXrPdOoHOnxExyjdBeaiLdA4M5.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
  
/* latin-ext */
@font-face {
    font-family: 'Lexend Exa';
    font-style: normal;
    font-weight: 400;
    src: local('Lexend Exa Regular'), local('LexendExa-Regular'), url('./fonts/Lexend Exa/UMBXrPdOoHOnxExyjdBeaiPdA4M5.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  
/* latin */
@font-face {
    font-family: 'Lexend Exa';
    font-style: normal;
    font-weight: 400;
    src: local('Lexend Exa Regular'), local('LexendExa-Regular'), url('./fonts/Lexend Exa/UMBXrPdOoHOnxExyjdBeai3dAw.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  
body {
    background-color: #191919;
    font-family: 'Lexend Exa';
    color: white;
}

.nav-wrapper {
    background-color: #191919;
}

.navbar-links:hover{
    background-color: #4D4D4D;
}

.form-container {
    /* centering the form */
    display: block;
    text-align: center;

    margin-top: 5%;
}

.form {
    /* centering the form */
    width: 30%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.uoa_header_card {
    position: relative;
    height: 58px;
    grid-row-gap: 0px;
    grid-column-gap: 50px;
    margin-top: 3%;
    margin-bottom: 5px;
    border-radius: 5px;
}

.date_header, .ticker_header, .type_header, .strike_header, .expiry_header, .spot_header, .order_header, .deets_header, .premium_header {
    position: absolute;
    top: 12%;
    font-size: 160%;
}

.ticker_header {
    left: 15%;
}

.type_header {
    left: 25%;
}

.strike_header {
    left: 35%;
}

.expiry_header {
    left: 45%;
}

.spot_header {
    left: 60%;
}

.order_header {
    left: 70%;
}

.deets_header {
    left: 80%;
}

.premium_header {
    left: 95%;
}

.option_date, .option_ticker, .option_type, .option_strike, .option_expiry, .option_spot, .option_order, .option_deets, .option_premium, .option_delete {
    position: absolute;
    top: 10%;
    font-size: 120%;
    color: white;
}

.option_date {
    left: -.1%;
}

.option_ticker {
    left: 15%;
}

.option_type {
    left: 25%;
}

.option_strike {
    left: 35%;
}

.option_expiry {
    left: 45%;
}

.option_spot {
    left: 60%;
}

.option_order {
    left: 70%;
}

.option_deets {
    left: 80%;
}

.option_premium {
    left: 95%;
}

.option_delete {
    left: 105%;
    font-size: 160%;
    cursor: pointer;
}

.new_button_container {
    text-align: center;
    margin-bottom: 5%;
}

button {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 10pt;
    outline: none;
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;   
}

.exercise_card_btn_wrapper {
    position: absolute;
    top: 140%;
    left: 80%;
}

.card {
    background-color: #191919;
}

.card:hover {
    background-color: #4D4D4D;
    color: red;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 18%;
    width: 35%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.close {
    color: #aaaaaa;
    margin-right: 5%;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-field {
    margin: auto;
    width: 60%;
}

.dropdown {
    display: block;
    margin-bottom: 2%;
}

.filter_fields {
    color: white;
}

.filter_field_containers {
    float: left;
    margin-right: 5%;
}

.uoa_container {
    clear: both;
}

.date_labels {
    float: left;
}

.filter_button {
    margin-right: 1%;
}

.filter_button_container {
    clear: both;
}

.sortable:hover {
    cursor: pointer;
}